<h1 style="color:#572230;font-size:30px;text-align:center;"><strong>Table of Content</strong></h1>

## 1. [Imports and environment setup](#1)

## 2. [Load Data and Model](#2)

## 3. [Prediction](#3)

3.1 [Make Predictions](#3.1) 

3.2 [Preview of Predictions](#3.2)

## 4. [Save the Predictions to the file](#4)

<br>
<hr>

# 1. Imports and environment setup

In [1]:
import pandas as pd
import numpy as np
from joblib import load
import warnings

# 2. Load Data and Model

In [2]:
testDataFrame= pd.read_csv('../data/preprocessed_test.csv', delimiter=',')

In [3]:
testDataFrame.shape

(50736, 24)

In [4]:
testDataFrame.describe()

,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,...,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest,Status
count,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,...,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,0.0
mean,0.430207,0.423230,0.962729,0.522126,0.445305,0.039479,0.093366,0.757509,0.629789,0.811022,...,0.231776,0.245241,0.166292,0.443531,8.010801,5.051187,6.046811,0.497636,0.497212,NaN
std,0.495110,0.494076,0.189428,0.198598,0.497004,0.194733,0.290947,0.428594,0.482866,0.391495,...,0.388741,0.383526,0.372346,0.496806,3.064743,0.986477,2.075180,0.247704,0.240270,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.005208,0.020408,NaN
25%,0.000000,0.000000,1.000000,0.375000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000,0.364583,0.364796,NaN
50%,0.000000,0.000000,1.000000,0.482143,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000,0.500000,0.502551,NaN
75%,1.000000,1.000000,1.000000,0.625000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.400000,0.400000,0.000000,1.000000,10.000000,6.000000,8.000000,0.604167,0.594388,NaN
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,13.000000,6.000000,8.000000,0.963542,0.938776,NaN

In [5]:
# Load the selected features from the file
selected_features = load('../data/selected_features.joblib')

In [6]:
# Load the model from the file
best_model = load('../data/best_random_forest_model.joblib')

# 3. Prediction

## 3.1. Make Predictions

In [7]:
# Suppress the warning
warnings.filterwarnings("ignore", message="X has feature names, but RandomForestClassifier was fitted without feature names")

# Drop the 'Status' column
testDataFrame.drop(columns=['Status'], inplace=True)

# Select only the columns corresponding to the selected features
testDataFrame = testDataFrame[selected_features]

# Make predictions
predictions = best_model.predict(testDataFrame)

# Convert predictions to 0s and 1s based on the condition
predictions_binary = [0 if pred == 0 else 1 for pred in predictions]

# Convert predictions to a DataFrame
predictions_df = pd.DataFrame({'Status': predictions_binary})

## 3.2. Preview of Predictions

In [8]:
predictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50736 entries, 0 to 50735
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Status  50736 non-null  int64
dtypes: int64(1)
memory usage: 396.5 KB

In [9]:
predictions_df

       Status
0           0
1           0
2           0
3           0
4           0
...       ...
50731       1
50732       0
50733       1
50734       0
50735       0

[50736 rows x 1 columns]

# 4. Save the Predictions to the file

In [10]:
# Save predictions to CSV
predictions_df.to_csv("../data/prediction/COSC2753_A1_s3939114.csv", index=False)

# We have completed COSC2753 - Machine Learning Assignment 1 - Individual!

We successfully predicted patients' diabetes status through the following steps:

- Exploratory Data Analysis (EDA)
- Data Preprocessing
- Model Development
- Model Evaluation

Thank you!